<%- include("partials/header") -%>


<div class="row">
    <div class="col-sm-4 col-12 col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Vivo V25 Pro 5G</h5>
          <img src="images/1.jpeg" class="card-img-top" alt="Vivo">
          <h6>₹ 35,999/-</h6>
          <a href="<%=refLink%>" class="btn btn-primary"><%=butCon%></a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-12 col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">OPPO Reno 8</h5>
            <img src="images/2.jpg" class="card-img-top" alt="Redmi">
            <h6>₹ 29,999/-</h6>
            <a href="<%=refLink%>" class="btn btn-primary"><%=butCon%></a>
          </div>
        </div>
    </div>
    <div class="col-sm-4 col-12 col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Xiaomi Redmi Note 11 Pro Plus 5G</h5>
            <img src="images/3.jpg" class="card-img-top" alt="Redmi">
            <h6>₹ 19,999/-</h6>
            <a href="<%=refLink%>" class="btn btn-primary"><%=butCon%></a>
          </div>
        </div>
    </div>
    <div class="col-sm-4 col-12 col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">POCCO X4 Pro</h5>
          <img src="images/4.jpg" class="card-img-top" alt="POCCO">
          <h6>₹ 18,999/-</h6>
          <a href="<%=refLink%>" class="btn btn-primary"><%=butCon%></a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-12 col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Realme 9i 5G</h5>
          <img src="images/5.jpg" class="card-img-top" alt="Realme">
          <h6>₹ 16,000/-</h6>
          <a href="<%=refLink%>" class="btn btn-primary"><%=butCon%></a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-12 col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">iQOO Neo 6 5G</h5>
            <img src="images/6.jpg" class="card-img-top" alt="iQOO">
            <h6>₹ 29,999/-</h6>
            <a href="<%=refLink%>" class="btn btn-primary"><%=butCon%></a>
          </div>
        </div>
    </div>
    <div class="col-sm-4 col-12 col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Apple iPhone 12</h5>
            <img src="images/7.jpg" class="card-img-top" alt="iPhone12">
            <h6>₹ 57,400/-</h6>
            <a href="<%=refLink%>" class="btn btn-primary"><%=butCon%></a>
          </div>
        </div>
    </div>
    <div class="col-sm-4 col-12 col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Apple iPhone 13</h5>
            <img src="images/8.jpg" class="card-img-top" alt="iPhone13">
            <h6>₹ 72,990/-</h6>
            <a href="<%=refLink%>" class="btn btn-primary"><%=butCon%></a>
          </div>
        </div>
    </div>
  </div>
  
  <%- include("partials/footer") -%>